<p class="home-title">home works!</p>
<button class="btn btn-primary" (click)="getAllGirls()">所有的妹纸</button>
<button class="btn btn-success" (click)="getGirlsByName()">妹纸: vol</button>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Age</th>
            <th>Cup</th>
            <th>Name</th>
            <th>Grade</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let girl of allGirls | async">
            <td>{{girl.id}}</td>
            <td>{{girl.age}}</td>
            <td>{{girl.cup}}</td>
            <td>{{girl.name}}</td>
            <td>{{girl.grade}}</td>
        </tr>
    </tbody>
</table>
